*~
*.elc
*.svn-base

auto-save-list
recentf
savehist
saveplace


eshell
elpa/*
plugin/jdee
plugin/jdee-sandbox
plugin/jdee-tmp

image-dired
.session

semanticdb
ede-projects.el
.DS_Store
places
.smex-items
