[submodule "el-get/company-distel"]
	path = el-get/company-distel
	url = https://github.com/algking/company-distel.git
    
[submodule "el-get/distel"]
	path = el-get/distel
	url = https://github.com/algking/distel.git
    
[submodule "el-get/el-get"]
	path = el-get/el-get
	url = http://github.com/dimitri/el-get.git

[submodule "plugin/evelnote-for-evernote"]
	path = plugin/evelnote-for-evernote
	url = https://github.com/f-kubotar/evelnote-for-evernote.git
    
[submodule "plugin/everbox"]
	path = plugin/everbox
	url = https://github.com/xumingming/everbox.git

[submodule "plugin/wrangler"]
	path = plugin/wrangler
	url = https://github.com/RefactoringTools/wrangler.git

[submodule "plugin/swank-js"]
	path = plugin/swank-js
	url = https://github.com/swank-js/swank-js.git 

[submodule "plugin/flymake/flymake-shell"]
	path = plugin/flymake/flymake-shell
	url = https://github.com/purcell/flymake-shell.git
    
[submodule "plugin/flymake/eflymake"]
	path = plugin/flymake/eflymake
	url = git://github.com/retnuh/eflymake.git
    
[submodule "plugin/weibo.emacs"]
	path = plugin/weibo.emacs
	url = https://github.com/austin-----/weibo.emacs.git
    
[submodule "prelude-back"]
	path = prelude-back
	url = https://github.com/bbatsov/prelude.git
[submodule "plugin/tern"]
	path = plugin/tern
	url = https://github.com/marijnh/tern.git
[submodule "myprelude"]
	path = myprelude
	url = https://github.com/algking/prelude.git
